
.welcome{
text-align: center;
padding-bottom:2.5% ;
background-color:whitesmoke;
padding-top: 5%;
color:rgb(45, 45, 68) ;
}
#courses{padding-left: 16%;
    padding-top: 1%;
    padding-bottom:1% ;
    background-color:white;
    color:rgb(45, 45, 68) ;
}
.carousel-inner{
    height:600px;
    margin-bottom: 0%;
}
#footer {
    /* position: absolute; */
    bottom: -400px;
    height: 8.5em;
    margin-top: 10%;
    width:100%;
    background-color: rgb(252, 242, 223);
    color: black;
    text-align: center;
    margin-left: 5px;
 }
 #courses{background-color: rgb(252, 242, 223)}

 #footer.social-icons{
    text-align: center;
}

#footer .social-icons h5{
    font-style: italic;
}

#footer.fa {
    padding: 10px;
    font-size: 25px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
    padding: 1%;
    border-radius: 50%;
    margin: .2%;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
    padding: 1%;
    border-radius: 50%;
    margin: .2%;
  }
  .fa-google {
    background: #dd4b39;
    color: white;
    padding: 1%;
    border-radius: 50%;
    margin: .2%;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
    padding: 1%;
    border-radius: 50%;
    margin: .2%;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
    padding: 1%;
    border-radius: 50%;
    margin: .2%;
  }
  
  h6{padding-top:1%;
margin-top: 1%;}

  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;

  }
  #videotwo{
    width: 75%;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: sticky;
    bottom: 0;
   
    width: 100%;
    padding: 20px;
  }

 

 