
.welcome{
  text-align: center;
  padding-bottom:2.5% ;
  background-color:whitesmoke;
  padding-top: 5%;
  color:rgb(45, 45, 68) ;
  }
  #courses{padding-left: 16%;
      padding-top: 1%;
      padding-bottom:1% ;
      background-color:white;
      color:rgb(45, 45, 68) ;
  }
  .carousel-inner{
      height:600px;
      margin-bottom: 0%;
  }
  #footer {
      position: relative;
      margin-bottom: 0%;
      height: 20%;
      margin-top: 10%;
      width:100%;
      background-color: rgb(252, 242, 223);
      color: black;
      text-align: center;
      
   }
   #courses{background-color: rgb(252, 242, 223)}
  
  
  h5{
    font-style: italic;
    
  }
  
    
    
    
    h6{padding-top:1%;
  margin-top: 1%;}
  
    #myVideo {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
  
    } 
    #videotwo{
      width: 75%;
    }
    
    /* Add some content at the bottom of the video/page */
    .content {
      position: sticky;
      bottom: 0;
     
      width: 100%;
      padding: 20px;
    }
    .social{
      /* position: absolute;
      z-index: 10;
      bottom: 20px; */
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .social li
    {
      list-style: none;
    }
    .social li a
    {
      display: inline-block;
      margin-right: 20px;
     /* filter: invert(1); */
      transform: scale(0.5);
      transition: 0.5s;
    }
    .social li a:hover
    {
      transform: scale(0.5) translateY(-15px);
    }
    
  
   
  
   