<app-main-home></app-main-home>

  <video autoplay loop id="myVideo">
    <source src="/assets/video.mp4" type="video/mp4">
    
  </video>
  
<div class="text-dark content">
          
              <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner col-lg-3">
                <div class="carousel-item active">
                <img src="/assets/cm.jpg" class="d-block w-100" alt="am">
                  <div class="carousel-caption d-none d-md-block">
                    
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="/assets/dm.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    
                   
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="/assets/am.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                  
                    
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>


            <div class="welcome">
              <h1 > Welcome to ICTAK Trainer Management System </h1>
            </div>
           
            <div class="container">
              <main>
                <header>
                 <br><br><br><br>
                  <h1>Building the nations <em>future.</em></h1>
                  <p>
                   <em>(Government supported and Industry-led Program,
                    Government scholarships and affordable fees model,
                    One-stop shop for Students, Unemployed and Working professionals)</em> </p>
                </header><br>
                <video autoplay loop id="videotwo">
                  <source src="/assets/cyber.mp4" type="video/mp4">
                  
                </video>
                <!-- <img src="https://images.unsplash.com/photo-1558459654-c430be5b0a44?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=80&w=960&h=500" alt="" /> -->
            
                <section>
                  <h2>Internship</h2>
                  <p>The internship program strategies are very specific, measurable, realistic and fit well within the time framework and also showcases what the student hopes to learn from their experiences and the level of academic expectations that are expected!</p>
                </section>
            
                <section>
            
                  <h2>Research and Devleopment</h2>
                  <p>The curriculum is more responsible to industry needs and provide the students with skills for employment and positive work values needed to meet the demands of the changing industry scenario and global environment. The curriculum for individual course has been designed by a perfect blend of inputs from renowned academicians and industry experts from across the Globe.</p>
                </section>
                <div class="callout">
                  <h3>Entrepreneurship</h3>
                  <p>We improves the skills and knowledge of entrepreneurs through various training and classroom programs. The whole point of entrepreneurship development is to increase the number of professional entrepreneurs.Our  objective is to reduce the  poverty by increasing the employability and high potential growth in enterprise creation among the youth in Kerala. The specific objectives are to Impart skills through short term training in Entrepreneurship and Enterprise Development.</p>
                </div>
                <div class="callout">
                  <h3>Courses</h3><br>
                  
                </div>
            
                <!-- <img src='https://images.unsplash.com/photo-1603791445824-0050bd436b6d?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=80&w=960' alt=''> -->
              </main>
            </div>
            
            <a href="https://youtu.be/cxwZfcoiUSE" target="_blank" data-keyframers-credit style="color: #FFF; z-index: 10"></a>
            <script src="https://codepen.io/shshaw/pen/QmZYMG.js"></script>
           
            <div class="column">
            <div class="container">
              <div class="row row-cols-1 row-cols-lg-3 g-4 ">
                <div class="col">
                  <div class="card h-100 border-dark border-3">
                    <img src="/assets/fullstack.jpg" class="card-img-top" alt="">
                    <div class="card-body text-light"  style="background:rgb(45,45,68)">
                      <h5 class="card-title">Full Stack Developer</h5>
                      <p class="card-text">Skills required: Front-end technology, Development Languages, Database, Basic design ability, Server, Working with API and version control systems</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100 border-dark border-3">
                    <img src="/assets/digital.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-light"  style="background:rgb(45,45,68)">
                      <h5 class="card-title">Digital Marketer</h5>
                      <p class="card-text">Skills required: Data Analysis,Content Creation,SEO & SEM, CRM, Communication Skills, Social Media, Basic Design Skills.</p>
                      
                    </div>
                  </div>
                </div><br>
                <div class="col">
                  <div class="card h-100 border-dark border-3">
                    <img src="/assets/dataanalyst.jpg" class="card-img-top" alt="">
                    <div class="card-body text-light"  style="background:rgb(45,45,68)">
                      <h5 class="card-title">Data Analyst</h5>
                      <p class="card-text">Skills required :To solve tangible business problems using tools like SQL, R or Python programming languages, data visualization software, and statistical analysis.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100 border-dark border-3">
                    <img src="/assets/cyber.jpg" class="card-img-top" alt="">
                    <div class="card-body text-light"  style="background:rgb(45,45,68)">
                      <h5 class="card-title">Cyber Security Analyst</h5>
                      <p class="card-text">Skills required:Analyze and respond to security threats from Firewall (FW), IDS, IPS, AV,etc </p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100 border-dark border-3">
                    <img src="/assets/Softwaretester.jpg" class="card-img-top" alt="">
                    <div class="card-body text-light"  style="background:rgb(45,45,68)">
                      <h5 class="card-title">Software Tester</h5>
                      <p class="card-text">Skills required: Basic knowledge of Database/SQL, Linux commands, Test Management, etc</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100 border-dark border-3">
                    <img src="/assets/rpa.jpg" class="card-img-top" alt="houseboat">
                    <div class="card-body text-light"  style="background:rgb(45,45,68)">
                      <h5 class="card-title">Specialist in Robotics Process Automation</h5>
                      <p class="card-text">Skills required: Programming skills in Java, C, C++, or .NET, Knowledge of any database query language like SQL, Command over HTML, JavaScript, and other scripting languages </p>
                    </div>
                  </div>
                </div>
            
                
                
                
              </div>
            </div>
          </div>



        

         
          
        </div> 

            

  <br><br>
      
               




