<app-trainer-dashboard></app-trainer-dashboard>



<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card" *ngFor='let i of profile'>
  <img  [src]='i.img'  style="width:100%">
  <h1>{{i.name}}</h1>
  <p class="title">email: {{i.email}}</p>
  <p>Address: {{i.address}}</p>
  <p>Phone: {{i.phone}}</p>
  
  <p>Qualification: {{i.h_qualification}}</p>
  <p>{{i.company_name}}</p>
  <p>Skillset:{{i.skillSet}}</p>
 
</div>
