<div><app-adminnav></app-adminnav></div>

<div class="col-lg-12 container">

    <h1 style="color: white;">View Allocation</h1>

<br>
<!-- <div class=" row  "> -->
  <div class="form-group table ">
    <input   type="text" class="search form-control" placeholder="Type to search" [(ngModel)]="data">
  </div>
  <!-- <div class="col">
    <span class="text-justify">Serach by Name, Course, skill, </span>

  </div> -->
  <!-- </div> -->
  <br>
 <div class="scoll">
  <table class="table table-bordered text-white ">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">CourseId</th>
        <th scope="col">BathchId</th>
        <th scope="col">ScheduleTime</th>
        <th scope="col">StartDate</th>
        <th scope="col">EndDate</th>
        <th scope="col">Venue/Meeting Link</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trainer of trainers  | filter:data">
        <td>{{trainer.Unique_ID}}</td>
        <td>{{trainer.name}}</td>
        <td>{{trainer.courseid}}</td>
        <td>{{trainer.batchid}}</td>
        <td>{{trainer.scheduletime}}</td>
        <td>{{trainer.startdate}}</td>
        <td>{{trainer.enddate}}</td>
        <td>{{trainer.venue}}</td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="nodata"  class="alert alert-info" role="alert">
    No new trainers for approval list
    </div>
 </div>
</div>