h1{
    margin-top: 3%;
    text-align: center;
}
form{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    margin-bottom: 3%;
}
button{
    margin-left: 45%;
}

label{
    margin:5px;
    font-weight: bold;
}
