<app-trainer-dashboard></app-trainer-dashboard>

<h1>Edit Personel details</h1>
<br>
<form #edit="ngForm" (ngSubmit)="edittrainer()" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" #name="ngModel" [(ngModel)] = "userItem.name" [class.is-invalid]="name.invalid && name.untouched" pattern="[A-Za-z\s]{2,25}" required>
            <small class="text-danger" [class.d-none]="name.valid || name.untouched">Enter valid name</small>
        </div>
        <div class="col-lg-6 col-sm-12">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" #email="ngModel" [(ngModel)] ="userItem.email" [class.is-invalid]="email.invalid && email.untouched" pattern="([A-Za-z0-9\.-]+)@([A-Za-z0-9\-]+)\.([a-z]{2,3})(.[a-z]{2,3})?$"  required>
            <small class="text-danger" [class.d-none]="email.valid || email.untouched">Enter valid mail Id</small>
        </div>
    </div>
    <br>
   <div class="row">
        <div class="col-md-4 col-sm-12">

            <label for="phone">Mobile No.</label>
            <input type="text" class="form-control" id="phone" name="phone" #phone="ngModel" [(ngModel)]="userItem.phone" [class.is-invalid]="phone.invalid && phone.untouched" pattern="[0-9\s]{10,10}" required>
            <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Enter valid mobileNo</small>
      </div>
      <div class="col-md-8 col-sm-12">
        <label for="address">Address</label>
        <input type="text" class="form-control" id="address" name="address" #address="ngModel" [(ngModel)] ="userItem.address" [class.is-invalid]="address.invalid && address.untouched" pattern="[A-Za-z\s0-9,]{2,200}"  required>
        <small class="text-danger" [class.d-none]="address.valid || address.untouched">Enter valid address</small>
      </div>
   </div>
   <br>
   <div class="row">
        <div class="col-md-6 col-sm-12">
            <label for="h_qualification">Highest Qualification</label>
            <input type="text" class="form-control" id="h_qualification" #h_qualification="ngModel" name="h_qualification" [(ngModel)] ="userItem.h_qualification" [class.is-invalid]="h_qualification.invalid && h_qualification.untouched" required pattern="[A-Za-z\s0-9\+.]{2,25}">
            <small class="text-danger" [class.d-none]="h_qualification.valid || h_qualification.untouched">Enter valid qualification</small>
        </div>
        <div class="col-md-6 col-sm-12">
            <label for="skillSet">Skill Set</label>
            <input type="text" class="form-control" name="skillSet" #skillSet="ngModel" [(ngModel)]="userItem.skillSet" [class.is-invalid]="skillSet.invalid && skillSet.untouched" required pattern="[A-Za-z\s0-9\+.,]{2,50}">
            <small class="text-danger" [class.d-none]="skillSet.valid || skillSet.untouched">Enter valid skills</small>
        </div>
   </div>
   <br>
   <div class="row">
        <div class="col-md-6 col-sm-12">
            <label for="company_name">Current Company Name</label>
            <input type="text" class="form-control"  id="company_name" #company_name="ngModel" name="company_name" [(ngModel)] = "userItem.company_name" [class.is-invalid]="company_name.invalid && company_name.untouched" pattern="[A-Za-z\s]{2,25}" required>
            <small class="text-danger" [class.d-none]="company_name.valid || company_name.untouched">Enter valid company name</small>
        </div>
        <div class="col-md-6 col-sm-12">
            <label for="designation">Current Designation</label>
            <input type="text" class="form-control" id="designation" name="designation" #designation="ngModel" [(ngModel)] ="userItem.designation" [class.is-invalid]="designation.invalid && designation.untouched" pattern="[A-Za-z\s]{2,25}" required>
            <small class="text-danger" [class.d-none]="designation.valid || designation.untouched">Enter valid designation</small>
        </div>
   </div>
   <br>
   <div class="row">
        <div class="col-lg-12 col-sm-12">
            <label for="img">Your Photo</label>
            <input type="file" id="img" class="form-control" name="img" accept="image/,.png,.jpg,.jpeg" #img="ngModel" [(ngModel)]="userImage.img" (change)="onFileSelect($event)" [class.is-invalid]="img.invalid">
            <small class="text-danger" [class.d-none]="img.valid || img.untouched">Add your photo</small>
        </div>
    </div>
   <br>
   
    <button type="submit" class="btn btn-success" [disabled]="edit.form.invalid">Edit</button>
   
</form>
