<app-trainer-dashboard></app-trainer-dashboard>
<div class="student-profile py-4 "  >
  <div class="container">
    <div class="allocation card-group p-2">
        <div style="width: 40%;" class="row p-4" *ngFor = 'let profile of profiles'>
            <div class="info shadow-sm">
              <div class="card-header bg-transparent border-0">
                <h3 class="mb-0 text-dark"> 🚩 Course Information</h3>
              </div>
              <div class="text-dark card-body pt-0">
                <table class="table ">
                
                  <tr>
                    <th width="30%">Start Date</th>
                    <td width="2%">:</td>
                    <td>{{profile.startdate}}</td>
                  </tr>
                  <tr>
                    <th width="30%">End Date	</th>
                    <td width="2%">:</td>
                    <td>{{profile.enddate}}</td>
                  </tr>
                  <tr>
                    <th width="30%">Time</th>
                    <td width="2%">:</td>
                    <td>{{profile.scheduletime}}</td>
                  </tr>
                  <tr>
                    <th width="30%">Course Name</th>
                    <td width="2%">:</td>
                    <td>{{profile.courses}}</td>
                  </tr>
                  <tr>
                    <th width="30%">Course ID</th>
                    <td width="2%">:</td>
                    <td>{{profile.courseid}}</td>
                  </tr>
                  <tr>
                    <th width="30%">Batch ID</th>
                    <td width="2%">:</td>
                    <td>{{profile.batchid}}</td>
                  </tr>
                  <tr>
                    <th width="30%">Venue</th>
                    <td width="2%">:</td>
                    <td>{{profile.venue}}</td>
                  </tr>
                  <tr>
                    <th width="30%">Schedule</th>
                    <td width="2%">:</td>
                    <td>{{profile.skillSet}}</td>
                  </tr>
                
                </table>
              </div>
            </div>
          </div>
       
        </div>
      </div>
      <br>
      
    </div>