
<app-adminnav></app-adminnav>

<div style="margin-top: 100px;" class="col-lg-12 container">


  <br>
 <div class="scoll">
  <table class="table table-bordered text-white ">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Contact No</th>
        <th scope="col">Course</th>
        <th scope="col">qualification</th>
        <th scope="col">Skill</th>
        <th scope="col">Company</th>
        <th scope="col">Employment</th>
        <th scope="col">Approve</th>
      </tr>
    </thead>
    <tbody style="text-align: center;"> 
      <tr  *ngFor="let trainer of trainers ">
        <td>{{trainer.name}}</td>
        <td>{{trainer.email}}</td>
        <td>{{trainer.phone}}</td>
        <td>{{trainer.courses}}</td>
        <td>{{trainer.h_qualification}}</td>
        <td>{{trainer.skillSet}}</td>
        <td>{{trainer.company_name}}</td>
        <td> <select id="emptype" name="emptype"  required  [(ngModel)]= trainer.emptype>
            <option disabled>Choose Employment Type</option>
            <option>Internal</option>
            <option>Empanelled</option>
            <option>Industry Expert</option>
          </select></td>
        <td width="15%">
            <a class="mx-2 btn btn-success" (click)=approve(trainer,trainer.emptype)>Approve</a>
            <a class="btn btn-danger" (click)=reject(trainer)>Reject</a>
        </td>
        
      </tr>
      
    </tbody>
    
  </table>
  <div *ngIf="nodata"  class="alert alert-info" role="alert">
   No new trainers for approval list
   </div>
 </div>
</div>
