<app-adminnav></app-adminnav>
<section  class="p-lg-5 p-3  ">
    <h2 class="text-center ">Waiting for approval</h2>
    <p class="lead text-center  mb-5"></p>
    
    <div class="row g-4">
       
        <!-- [class.hide]="!trainer.approved"  -->

        <div [class.hide]="trainer.isApproved"  *ngFor="let trainer of trainers"  class="col-md-6 col-lg-3">
           
            <div   class="card bg-light">
                <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-primary">
                    name
                  </span>
                    <img src=""  class="img " alt="">
                    <div class="card-body text-center">
                    <h5 class="card-title "> {{trainer.name}}</h5>
                    <h6>{{trainer.courses}}</h6>
                    <a  class="btn btn-secondary" (click)=approve(trainer); >
                       Approve
                    </a>
                </div>
            </div>
      
        </div>
        </div>

    
</section>