h1{
    margin-top: 3%;
    text-align: center;
}
form{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    margin-bottom: 3%;
}
button{
    margin-left: 45%;
}
label{
  margin:5px;
  font-weight: bold;
}
input[type="date"]::before {
  content: attr(placeholder);
  position: absolute;
  color: #999999;
}

input[type="date"] {
  color: #ffffff;
}

input[type="date"]:focus,
input[type="date"]:valid {
  color: #666666;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
  content: "";
}

input[type="date"]:hover::-webkit-calendar-picker-indicator {
  color: red;
}
input[type = "date"]:hover::after {
  content: " Date Picker ";
  color: rgb(189, 186, 186);
 
}

input[type="date"]::-webkit-inner-spin-button {

  -webkit-appearance: none;
  margin: 0;
}
:required {
  border-color: rgba(82, 168, 236, 0.8);
  background-image: none;
}