<app-adminnav></app-adminnav>

<h1>ALLOCATE TRAINER</h1>
  <form #allocation="ngForm" (ngSubmit)="allocate()">
    <div class="row">
      
      <div class="col-md-4 col-sm-12">
        <label for="Unique_ID">ID</label>
        <input type="text" class="form-control" id="Unique_ID" name="Unique_ID"  [(ngModel)] = "training.Unique_ID" readonly>
      </div>
      <div class="col-md-8 col-sm-12" >
        <label for="name">Trainer's Name</label>
        <input type="text" class="form-control" id="name" name="name"  [(ngModel)] = "training.name" readonly>
      </div>
    </div>
    <br>
    <div class="col-sm-12">        
      <label for="emptype">Employment type</label>
      <input type="text" class="form-control" #emptype="ngModel" name="emptype" id="emptype"
      [(ngModel)] = "training.emptype" readonly>
   </div>
   <br>
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <label for="cname">Course Name</label>
        <input type="text" class="form-control" id="courses" name="courses"  [(ngModel)] = "training.courses" readonly>
      </div>
      <div class="col-md-4 col-sm-12">
        <label for="courseid">Course ID</label>
        <select id="courseid" name="courseid" #courseid="ngModel" [(ngModel)] = "training.courseid"  (change)="cidSelect($event)" class="form-control" [class.is-invalid]="courseid.invalid && courseid.untouched" required minlength="3">
          <option disabled>Choose Course ID</option>
          <option>DSA</option>
          <option>FSD</option>
          <option>RPA</option>
          <option>CSA</option>
        </select>
        <small class="text-danger" [class.d-none]="courseid.valid || courseid.untouched">Choose a course ID</small>
      </div>
    </div>
    <br>
    <div class="row">
      
      <div class="col-md-4 col-sm-12">
        <label for="batchid">Batch ID</label>
        <select id="batchid" name="batchid" #batchid="ngModel" [(ngModel)] = "training.batchid"  (change)="bidSelect($event)"  class="form-control" [class.is-invalid]="batchid.invalid && batchid.untouched" required minlength="6">
          <option disabled>Choose Batch ID</option>
          <option>DSA001</option>
          <option>FSD001</option>
          <option>RPA001</option>
          <option>CSA001</option>
          <option>DSA002</option>
          <option>FSD002</option>
          <option>RPA002</option>
          <option>CSA002</option>
        
        </select>
        <small class="text-danger" [class.d-none]="batchid.valid || batchid.untouched">Choose a Batch ID</small>
      </div>
      <div class="col-md-8 col-sm-12">
        <label for="time">Time(24 hrs format)</label>
        <input type="time" class="form-control" #scheduletime="ngModel" id="scheduletime" name="scheduletime" [(ngModel)] = "training.scheduletime"  [class.is-invalid]="scheduletime.invalid && scheduletime.untouched" required minlength="5">
        <small class="text-danger" [class.d-none]="scheduletime.valid || scheduletime.untouched">Select a time</small>
      </div>
      
    </div>
   <br>
    <div class="row">
      <div class=" col-md-6 col-sm-12">
        <label for="startdate">Start date</label>
        <input type="date" placeholder="Click date picker to choose a date" class="form-control" #startdate="ngModel" id="startdate" name="startdate"
         [(ngModel)] = "training.startdate" min="{{date}}" [class.is-invalid]="startdate.invalid && startdate.untouched" required minlength="10">
         <small class="text-danger"  [class.d-none]="startdate.valid || startdate.untouched">Select a date to start the course</small>
      </div>
      <div class="col-md-6 col-sm-12">
        <label for="enddate">End date</label>
        <input type="date" placeholder="Click date picker to choose a date" class="form-control" #enddate="ngModel" id="enddate" name="enddate"
        [(ngModel)] = "training.enddate" min="{{allocation.value.startdate}}" [class.is-invalid]="enddate.invalid && enddate.untouched" required minlength="10">
        <small class="text-danger" *ngIf="startdate.value==enddate.value && enddate.untouched">End date must be after start date</small>
      </div>
      
    </div>
    <br>
    <div class="col-sm-12">
        
          <label for="venue">Meeting link/venue</label>
          <input type="text" class="form-control" #venue="ngModel" name="venue" id="venue"
          [(ngModel)] = "training.venue" [class.is-invalid]="venue.invalid && venue.untouched" required pattern="[A-Za-z\s0-9\.\:\_\-\/]{2,50}">
          <small class="text-danger" [class.d-none]="venue.valid || venue.untouched">Enter meet link/venue</small>
    </div>
    <br>
    <button type="submit" class="btn btn-success" [disabled]="allocation.form.invalid">Allocate</button>
  </form>
